Repository jayanthkoushik/corgy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, test, docs

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --ignore-missing-imports .
  language: system
  pass_filenames: false

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

test:
  name: run unittests
  language: system
  entry: poetry run python -m unittest
  pass_filenames: false

docs:
  name: build docs with sphinx
  language: system
  entry: poetry run docs/make.sh
  pass_filenames: false

fix: don't use `BooleanOptionalAction` for `Literal` boolean types in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: add missing examples for `types.SubClass`
  corgy/types.py
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore: remove commented out code
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `Corgy.freeze` method
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow freezing `Corgy` instances after init with `corgy_freeze_after_init`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: remove `exit_on_error` argument from `ArgumentParser`
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

docs: update example image
  example.svg
Due: none

docs: update readme
  README.md
  corgy/__init__.py
  docs/corgy.md
  tests/test_doctests.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

ci: enable verbose output for unit tests
  .github/workflows/test-package.yml
Due: none

docs: import `Literal` from `typing_extensions
  README.md
Due: none

ci: enable verbose output for all unit tests
  .github/workflows/test-package.yml
Due: none

docs: skip doctest for argparse output
  README.md
Due: none

ci: enable testing on readme change
  .github/workflows/test-package.yml
Due: none

test: disable readme doctest for py-3.11+
  tests/test_doctests.py
Due: black, isort, pylint, mypy, pydocstyle, test

chore(release): 6.0.0
  CHANGELOG.md
Due: none

ci: add poetry-dynamic-versioning as a build dependency
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  pyproject.toml
Due: none

ci: fix poetry-dynamic-versioning install
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  pyproject.toml
Due: none

fix: only mark args as 'optional' by 'CorgyHelpFormatter' if `default=SUPPRESS`
  corgy/_helpfmt.py
  corgy/types.py
  docs/corgy.md
  docs/corgy.types.md
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore: use tox to run unittests
  .gitignore
  .pre-commit-config.yaml
  tox.ini
Due: none

fix: fix handling of choices when using custom parsers
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore: update gitattributes
  .gitattributes
Due: none

chore: update pyproject.toml
  pyproject.toml
Due: none

fix: use custom implementations of `Required` and `NotRequired`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore: add ignores for spurious pylint errors
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test

refactor: rewrite `stdout/stderr/stdin` wrappers in \`corgy.types\`
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add binary versions of `stdout/stderr/stdin` wrappers in `corgy.types`
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add types for input/output file paths
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: use proper delegation to concrete `Path` types in `corgy.types`
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: perform user and environment variable expansion in `Path` types
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: remove `kwargs` from argument list of file types
  corgy/types.py
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: finish docstrings for `types.ReadableFile` and `types.WritableFile`
  corgy/types.py
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: fix windows compatibility of tests
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

test: make more changes for windows test compatibility and disable tox-parallel
  .pre-commit-config.yaml
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

refactor: reorganize code and imports
  .cspell.json
  corgy/__init__.py
  corgy/_actions.py
  corgy/_annotations.py
  corgy/_corgy.py
  corgy/_corgyparser.py
  corgy/_helpfmt.py
  corgy/_meta.py
  corgy/_utils.py
  corgy/types.py
  corgy/types/__init__.py
  corgy/types/_dir.py
  corgy/types/_expand.py
  corgy/types/_filepath.py
  corgy/types/_initargs.py
  corgy/types/_inputfile.py
  corgy/types/_keyvaluepairs.py
  corgy/types/_outputfile.py
  corgy/types/_subclass.py
  docs/corgy.md
  docs/corgy.types.md
  docs/index.md
  tests/test_corgy.py
  tests/test_corgyparser.py
  tests/test_doctests.py
  tests/test_helpfmt.py
  tests/test_types.py
  tests/types/__init__.py
  tests/types/_pklclasses.py
  tests/types/_specialtmps.py
  tests/types/_test_file.py
  tests/types/test_dirs.py
  tests/types/test_filepaths.py
  tests/types/test_initargs.py
  tests/types/test_inputfiles.py
  tests/types/test_keyvaluepairs.py
  tests/types/test_outputfiles.py
  tests/types/test_subclass.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add additional tests for handling of bool types
  tests/test_corgy.py
  tests/test_corgyparser.py
Due: black, isort, pylint, mypy, pydocstyle, test

fix: do not convert positional bools to option pairs in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 7.0.0
  CHANGELOG.md
Due: none

feat: use `store_*` actions in `Corgy.add_args_to_parser` for single value literals
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: remove path sub-class types
  corgy/types/__init__.py
  corgy/types/_dir.py
  corgy/types/_filepath.py
  docs/corgy.types.md
  tests/test_doctests.py
  tests/types/test_dirs.py
  tests/types/test_filepaths.py
  tests/types/test_outputfiles.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  test: any of: \.py$
  docs: any of: .*\.py|docs/make\.sh, but not: tests/.*\.py
