Repository jayanthkoushik/corgy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, test, docs

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: end-of-file-fixer
    name: fix eofs
  - id: mixed-line-ending
    name: fix line endings
  - id: trailing-whitespace
    name: remove trailing whitespace

- repo: local
  hooks:
  - id: black
    name: black
    entry: poetry run black
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: poetry run isort
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]
  - id: mypy
    name: mypy
    entry: poetry run mypy --ignore-missing-imports .
    language: system
    types: [python]
    pass_filenames: false
  - id: pydocstyle
    name: pydocstyle
    entry: poetry run pydocstyle
    language: system
    types: [python]
  - id: commitlint
    name: lint commit message
    language: system
    entry: "npx commitlint -x=@commitlint/config-conventional -e"
    always_run: true
    stages: [commit-msg]
  - id: test
    name: run unittests
    language: system
    entry: poetry run python -m unittest
    types: [python]
    pass_filenames: false
  - id: docs
    name: build docs with sphinx
    language: system
    files: ".*\\.py|docs/make\\.sh"
    exclude: "tests/.*\\.py"
    entry: poetry run docs/make.sh
    pass_filenames: false

refactor: convert `Corgy.__slots__` to tuple
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow custom `__slots__` in `Corgy` classes
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow `@staticmethod` to be used with `@corgyparser`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

style: clean up lint directives
  tests/test_corgy.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

feat: allow functions decorated by `@corgyparser` to be used as static methods
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow multiple `@corgyparser` decorators on the same function
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

ci: add Python 3.10 to test matrix
  .github/workflows/test-package.yml
Due: none

docs: merge `Corgy.__init__` docstring into the class doc
  corgy/_corgy.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: use custom metavar if present in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  tests/test_corgy.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add nested groups to the base parser in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: implement `__repr__` for `types` members
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 2.4.0
  .version
  CHANGELOG.md
  corgy/_version.py
  pyproject.toml
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: fix presentation of at signs in changelog
  CHANGELOG.md
Due: none

docs: remove typehints from docs
  docs/conf.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat!: rewrite `corgy.types` to work better with typing
  corgy/types.py
  docs/corgy.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

build: add typing_extensions dependency for Python 3.7
  pyproject.toml
Due: none

test: make `chmod` calls os independent
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

docs: generate separate doc file for submodules
  docs/corgy.md
  docs/corgy.types.md
  docs/index.md
  docs/make.sh
Due: docs

style: clean up `docs/make.sh`
  docs/make.sh
Due: docs

docs: remove `docs/conf.py`
  docs/conf.py
  docs/make.sh
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: use separate `chmod` call for directories to be compatible with windows
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

test: disable tests needing `chmod` on Windows
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

chore(release): 3.0.0
  .version
  CHANGELOG.md
  corgy/_version.py
  pyproject.toml
Due: black, isort, pylint, mypy, pydocstyle, test, docs

ci: use config-conventional for github-releaser
  .github/workflows/github-release.yml
Due: none

feat: prevent re sub-scripting `types.SubClass` and `types.KeyValuePairs`
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

perf: cache type objects returned by `types.SubClass` and `types.KeyValuePairs`
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: simplify checking initialization in `types.SubClass`
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

perf: cache instances returned by `types.SubClass`
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: remove deprecated `Corgy.new_with_args`
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `py.typed` to inform type checkers about annotations
  corgy/py.typed
Due: none

chore(release): 3.1.0
  .version
  CHANGELOG.md
  corgy/_version.py
  pyproject.toml
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: update `corgyparser` type annotation to allow nested wrapping
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

ci: revert to using angular config for github-release
  .github/workflows/github-release.yml
Due: none

ci: convert Python version in ci to string
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
Due: none

build: ignore additional files with `.gitattributes`
  .gitattributes
Due: none

chore: add editorconfig
  .editorconfig
Due: none

feat: add `CorgyHelpFormatter.show_full_help` option to configure help verbosity
  corgy/_helpfmt.py
  docs/corgy.md
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `Action` classes for showing short/full help
  corgy/_helpfmt.py
  docs/corgy.md
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: disable explicit `optional` marker for arguments with `nargs=0` in `CorgyHelpFormatter`
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: make `CorgyHelpFormatter.max_help_position` adaptive
  corgy/_helpfmt.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs
