Repository jayanthkoushik/corgy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, test, docs

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --ignore-missing-imports .
  language: system
  pass_filenames: false

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

test:
  name: run unittests
  language: system
  entry: poetry run python -m unittest
  pass_filenames: false

docs:
  name: build docs with sphinx
  language: system
  entry: poetry run docs/make.sh
  pass_filenames: false

refactor: extract `CorgyHelpFormatter._get_default_metavar_for_optional` into a static method
  corgy/_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow `corgyparser` functions to specify nargs
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add test for toml parsing with custom parsers using nargs
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

feat: make `Corgy.as_dict` recursive by default
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: add pre-commit hook to spell check docs
  .cspell.json
  .pre-commit-config.yaml
  corgy/types.py
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `flatten` argument to `Corgy.as_dict`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: hide unset values in `Corgy.__repr__`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: change typing annotation of `Corgy.from_dict` to accept arbitrary mappings
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `Corgy.attrs` class method
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow `Corgy` class attributes to be unset with `del`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add additional test for `Corgy.attrs`
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

feat: implement equality for `Corgy` instances
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: re-write handling of collection types to be more general
  corgy/_corgy.py
  corgy/_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: use `setUpModule` and `tearDownModule` to isolate modifications in `test_helpfmt`
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test

docs: re-write docs to incorporate doctests
  corgy/_corgy.py
  corgy/_helpfmt.py
  corgy/types.py
  docs/corgy.md
  docs/corgy.types.md
  tests/test_doctests.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: move type checking utils to separate module
  corgy/_corgy.py
  corgy/_helpfmt.py
  corgy/_utils.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: fix minor formatting issues
  corgy/_corgy.py
  corgy/_utils.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

ci: install `toml` for testing
  .github/workflows/test-package.yml
Due: none

test: skip some uncertain doctests
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add option to cast values in `Corgy.from_dict`
  corgy/_corgy.py
  corgy/_utils.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: rewrite handling of collection types
  corgy/_corgy.py
  corgy/_utils.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: clean up code
  corgy/_corgy.py
  corgy/_helpfmt.py
  corgy/_utils.py
  corgy/types.py
  tests/test_corgy.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add test to check casting edge cases
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

docs: fix typo
  corgy/_corgy.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: handle `dict` defaults/choices in `CorgyHelpFormatter`
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: handle groups within collections in `Corgy.as_dict`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: handle groups within collections in `Corgy.from_dict`
  corgy/_corgy.py
  corgy/_utils.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: make `types.SubClass/KeyValuePairs/InitArgs` objects pickleable
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `Corgy.load_dict` method
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: improve coverage and clean up some code
  corgy/_corgy.py
  corgy/_helpfmt.py
  corgy/_utils.py
  tests/test_corgy.py
  tests/test_helpfmt.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

ci: test without extras before running full tests
  .github/workflows/test-package.yml
Due: none

test: ignore pylint duplicate code warning in test
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test

ci: disable poetry cache when running core tests
  .github/workflows/test-package.yml
Due: none

chore: fix cspell pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: use `__init__` to initialize in `Corgy.from_dict`
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore: update black, pylint, and mypy
  corgy/_corgy.py
  pyproject.toml
  tests/test_helpfmt.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow `Corgy` attributes with default values to be unset
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: make parsing of `Optional` attributes consistent with other types
  corgy/_corgy.py
  corgy/_utils.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: make checking of `ClassVar` indepndent of checking for `Annotated`
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add support for `Required` and `NotRequired` annotations
  corgy/_corgy.py
  corgy/types.py
  docs/corgy.md
  docs/corgy.types.md
  pyproject.toml
  tests/test_corgy.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  test: any of: \.py$
  docs: any of: .*\.py|docs/make\.sh, but not: tests/.*\.py
