Repository jayanthkoushik/corgy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, test, docs

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: end-of-file-fixer
    name: fix eofs
  - id: mixed-line-ending
    name: fix line endings
  - id: trailing-whitespace
    name: remove trailing whitespace

- repo: local
  hooks:
  - id: black
    name: black
    entry: poetry run black
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: poetry run isort
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]
  - id: mypy
    name: mypy
    entry: poetry run mypy --ignore-missing-imports .
    language: system
    types: [python]
    pass_filenames: false
  - id: pydocstyle
    name: pydocstyle
    entry: poetry run pydocstyle
    language: system
    types: [python]
  - id: commitlint
    name: lint commit message
    language: system
    entry: "npx commitlint -x=@commitlint/config-conventional -e"
    always_run: true
    stages: [commit-msg]
  - id: test
    name: run unittests
    language: system
    entry: poetry run python -m unittest
    types: [python]
    pass_filenames: false
  - id: docs
    name: build docs with sphinx
    language: system
    files: ".*\\.py|docs/make\\.sh"
    exclude: "tests/.*\\.py"
    entry: poetry run docs/make.sh
    pass_filenames: false

fix: make `Corgy.from_dict` ignore unknown arguments
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

build: move commitlint config to separate file
  .commitlintrc.yaml
  .pre-commit-config.yaml
Due: none

refactor: fix type check issues
  corgy/_helpfmt.py
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: handle `ClassVar` annotations in `Corgy` classes
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `SubClass.which` property
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

build: ignore '.commitlintrc.yaml' for export
  .gitattributes
Due: none

feat: re-write `Corgy.add_args_to_parser` to accept both parsers/groups
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 5.0.0
  CHANGELOG.md
Due: none

build: update poetry installer in actions
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-package.yml
Due: none

build: fix poetry path in actions
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-package.yml
Due: none

build: use pip to install poetry in actions
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-package.yml
Due: none

build: update action dependencies
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-package.yml
Due: none

build: use pipx to install poetry in actions and enable dependency caching
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-package.yml
Due: none

build: update setup-node action
  .github/workflows/github-release.yml
Due: none

build: create lock file before calling `setup-python`
  .github/workflows/github-release.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-package.yml
Due: none

ci: add python 3.11 to test matrix
  .github/workflows/test-package.yml
Due: none

feat: allow passing multiple argument names to `corgyparser`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow setting metavar when decorating with `corgyparser`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: raise `ValueError` from classes in `corgy.types` if `__init__` fails
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: add note about sub-sub-parsers in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

build: use `poetry-dynamic-versioning` build backend
  pyproject.toml
Due: none

fix: remove enclosing `[]` from `KeyValuePairs.__metavar__`
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: handle formatting of nested sequence and optional types
  corgy/_corgy.py
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: make sequence tests for `CorgyHelpFormatter` use non-empty sequences for consistency
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test

refactor: remove walrus operator use
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: make formatting of zero or more sequence metavars in Python<3.9 match later versions
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: use `_typeshed.StrPath` for annotations instead of custom implementation
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: use binary open mode for binary file types in `corgy.types`
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `corgy.types.IODirectory` type
  corgy/types.py
  docs/corgy.types.md
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: prevent class variables from being assigned `corgyparsers`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: move functionality to parse args with `:` from `Corgy.__init__` to `Corgy.from_dict`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: make small cleanups and improve an error message
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: enforce type checking for `Corgy` classes
  corgy/_corgy.py
  corgy/_helpfmt.py
  docs/corgy.md
  tests/test_corgy.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: remove no-op with statement from `test_types._TestDirectory`
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

refactor: reorganize tests and remove clutter from `_corgy.py`
  corgy/_corgy.py
  corgy/_helpfmt.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: handle sequence edge cases in `CorgyHelpFormatter`
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: remove unreachable code
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add test for edge case in `Corgy` type checking
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

fix: correct formatting of tuples by `CorgyHelpFormatter`
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: use correct metavar when adding bool sequences in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs
