Repository jayanthkoushik/corgy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, test, docs

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --ignore-missing-imports .
  language: system
  pass_filenames: false

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

test:
  name: run unittests
  language: system
  entry: poetry run python -m unittest
  pass_filenames: false

docs:
  name: build docs with sphinx
  language: system
  entry: poetry run docs/make.sh
  pass_filenames: false

docs: fix documentation generation for magic methods
  docs/corgy.md
  docs/corgy.types.md
  docs/make.sh
Due: docs

chore(release): 4.4.0
  CHANGELOG.md
Due: none

feat: allow specifying default values in `Corgy.add_args_to_parser` and `Corgy.parse_from_cmdline`
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: update example.svg
  example.svg
Due: none

docs: update example in README
  README.md
Due: none

test: fix missing custom parser causing test fail
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

build: use token for publishing to PyPI
  .github/workflows/pypi-publish.yml
Due: none

chore(release): 4.5.0
  CHANGELOG.md
Due: none

build: make typing_extensions a dev dependency
  pyproject.toml
Due: none

Revert "build: make typing_extensions a dev dependency"
  pyproject.toml
Due: none

style: remove unnecessary ellipses
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

refactor: simplify importing from `typing_extensions`
  corgy/_corgy.py
  corgy/types.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: handle arbitrary depth descendants in `types.SubClass`
  corgy/types.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: handle imports from `typing_extensions` in Python>=3.9
  corgy/_corgy.py
  corgy/types.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

perf: defer evaluation of annotations using `__future__`
  corgy/_corgy.py
  corgy/_helpfmt.py
  corgy/types.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

build: use `perl` in `docs/make.sh` to not rely on `sed` behavior
  docs/make.sh
Due: docs

feat: allow `Corgy` classes to be sub-classed
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: make `Corgy` class sub-classes inherit defaults, parsers, and flags
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: rewrite sub-classing behavior of `Corgy` classes
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: fix example demonstrating use of `__choices__`
  corgy/_corgy.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: remove redundant test
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

fix: handle unknown group arguments in `Corgy.__init__`
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add argument to allow `Corgy.as_dict` to be recursive
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add test to check handling of inherited attributes by `Corgy.as_dict`
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

style: clean up annotations and docstrings
  corgy/_corgy.py
  corgy/types.py
  docs/corgy.md
  tests/test_corgy.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: use correct argument name for exception message in `Corgy.__init__`
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: add `Corgy.from_dict` method
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: allow `Corgy` classes to have string annotations
  corgy/_corgy.py
  corgy/types.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: import `get_type_hints` from `typing_extensions` for Python < 3.9
  corgy/_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add tests to improve coverage
  tests/test_corgy.py
  tests/test_types.py
Due: black, isort, pylint, mypy, pydocstyle, test

feat: add `Corgy.parse_from_toml` method
  corgy/_corgy.py
  docs/corgy.md
  pyproject.toml
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: clean up code blocks in docstrings
  corgy/_helpfmt.py
  corgy/types.py
  docs/corgy.md
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

build: add separate confirmation for pushing during release
  release.sh
Due: none

chore(release): 4.6.0
  CHANGELOG.md
Due: none

feat: allow `Tuple` to be used instead of `Sequence` in `Corgy` classes
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 4.7.0
  CHANGELOG.md
Due: none

feat: allow disabling `__slots__` in `Corgy` classes
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

test: add new test for `corgy_make_slots`
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test

fix: raise `TypeError` if a `Corgy` class defines a conflicting slot variable
  corgy/_corgy.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: add info about `tomli` dependency
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  test: any of: \.py$
  docs: any of: .*\.py|docs/make\.sh, but not: tests/.*\.py
