Repository jayanthkoushik/corgy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, test, docs

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: end-of-file-fixer
    name: fix eofs
  - id: mixed-line-ending
    name: fix line endings
  - id: trailing-whitespace
    name: remove trailing whitespace

- repo: local
  hooks:
  - id: black
    name: black
    entry: poetry run black
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: poetry run isort
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]
  - id: mypy
    name: mypy
    entry: poetry run mypy --ignore-missing-imports .
    language: system
    types: [python]
    pass_filenames: false
  - id: pydocstyle
    name: pydocstyle
    entry: poetry run pydocstyle
    language: system
    types: [python]
  - id: commitlint
    name: lint commit message
    language: system
    entry: "npx commitlint -x=@commitlint/config-conventional -e"
    always_run: true
    stages: [commit-msg]
  - id: test
    name: run unittests
    language: system
    entry: poetry run python -m unittest
    types: [python]
    pass_filenames: false
  - id: docs
    name: build docs with sphinx
    language: system
    files: ".*\\.py|docs/make\\.sh"
    exclude: "tests/.*\\.py"
    entry: poetry run docs/make.sh
    pass_filenames: false

chore(release): 8.0.0
  CHANGELOG.md
Due: none

fix: raise `ArgumentError` instead of `ArgumentTypeError` from `CorgyParserAction`
  corgy/_corgyparser.py
  tests/test_corgyparser.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 8.0.1
  CHANGELOG.md
Due: none

feat: add support for custom attribute value checkers through `corgychecker`
  .cspell.json
  corgy/__init__.py
  corgy/_corgychecker.py
  corgy/_meta.py
  docs/corgy.md
  tests/test_corgychecker.py
  tests/test_doctests.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: show attribute name in `ValueError` raised by `Corgy` in `setattr`
  README.md
  corgy/_corgy.py
  corgy/_corgychecker.py
  corgy/_meta.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: show attribute name in `ValueError` raised by `Corgy.from_dict` and `Corgy.load_dict`
  corgy/_corgy.py
  docs/corgy.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: do not discard return value from custom checkers
  corgy/_corgychecker.py
  docs/corgy.md
  tests/test_corgychecker.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 8.1.0
  CHANGELOG.md
Due: none

fix: fix annotation for `corgy.corgychecker`
  corgy/_corgychecker.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 8.1.1
  CHANGELOG.md
Due: none

fix: inherit `corgy_` parameters for `Corgy` sub-classes
  corgy/_meta.py
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 8.1.2
  CHANGELOG.md
Due: none

fix: make arguments without defaults be required in `types.InitArgs`
  corgy/types/_initargs.py
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: raise informative error if `types.InitArgs` cannot be used
  corgy/types/_initargs.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

feat: in `Corgy.add_args_to_parser`, restrict handling of single choice attrs to `Literal` types
  corgy/_corgy.py
  docs/corgy.md
  tests/test_corgy.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 9.0.0
  CHANGELOG.md
Due: none

chore: remove pylint check for duplicate-code
  pyproject.toml
Due: none

feat: add support for `Self` type annotations
  corgy/_corgy.py
  corgy/_meta.py
  docs/corgy.md
  tests/test_corgy.py
  tests/test_corgychecker.py
  tests/test_corgyparser.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

fix: prioritize custom parsers in `Corgy.add_args_to_parser`
  corgy/_corgy.py
  tests/test_corgyparser.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 9.1.0
  CHANGELOG.md
Due: none

fix: fallback to base formatting for subparsers in `CorgyHelpFormatter`
  corgy/_helpfmt.py
  tests/test_helpfmt.py
Due: black, isort, pylint, mypy, pydocstyle, test, docs

chore(release): 9.1.1
  CHANGELOG.md
Due: none

build: add website for docs
  .github/workflows/build-site.yml
  .gitignore
  LICENSE
  README.md
  docs/www/index.md
  docs/www/usage/corgy.md
  docs/www/usage/corgy.types.md
  mkdocs.yml
  pyproject.toml
Due: none

chore(release): 9.1.2
  CHANGELOG.md
Due: none

build: install mike for 'build-website' action
  .github/workflows/build-site.yml
Due: none

chore(release): 9.1.3
  CHANGELOG.md
Due: none

build: move web doc dependencies to separate group
  .github/workflows/build-site.yml
  pyproject.toml
Due: none

chore(release): 9.1.4
  CHANGELOG.md
Due: none

ci: run mike through poetry
  .github/workflows/build-site.yml
Due: none

chore(release): 9.1.5
  CHANGELOG.md
Due: none

ci: configure latest version with mike
  .github/workflows/build-site.yml
Due: none

chore(release): 9.1.6
  CHANGELOG.md
Due: none

Set default version to latest with mike 1.1.2
  index.html
Due: none

Deployed 2e3a732 to 9.1 with MkDocs 1.4.3 and mike 1.1.2
  9.1/sitemap.xml.gz
Due: none

docs: move nav items to mkdocs config
  README.md
  docs/www/usage/corgy.md
  docs/www/usage/corgy.types.md
  mkdocs.yml
Due: none

docs: prevent modification of www files by `docs/make.sh`
  docs/make.sh
Due: docs

docs: remove ambiguous doc for `SubClass`
  corgy/types/_subclass.py
  docs/corgy.types.md
Due: black, isort, pylint, mypy, pydocstyle, test, docs

docs: disable showing source in web docs
  mkdocs.yml
Due: none

ci: build docs site independent of tags
  .github/workflows/build-site.yml
Due: none
